*{
  margin: 0;
  padding: 0;
}
header {
  background: #f7e296;
}
/*header section*/
.header_logo:hover .header_logo_image{
  opacity: 0.6;
  transition: 0.5s;
}
.header_logo:focus .header_logo_image{
  opacity: 0.6;
  transition: 0.5s;
}
.header_logo:active .header_logo_image{
  opacity: 0.3;
  transition: 0.5s;
}
/*the end of the header block*/

/*main section*/

/*popular*/
.main_section-popular_list-popular_list-item_link:active .main_section-popular_list-popular_list-item_link_block-item-background .main_section-popular_list-popular_list-item_link_block-item-background_image-item{
  opacity: 0.3;
  transition: 0.5s;
}
.main_section-popular_list-popular_list-item_link:active .main_section-popular_list-popular_list-item_link_block-item-background {
  background: #f0c52e;
  transition: 0.5s;
}
.main_section-popular_list-popular_list-item_link:active p {
  color: #cacaca;
  transition: 0.5s;
}
.main_section-popular_list-popular_list-item_link:hover .main_section-popular_list-popular_list-item_link_block-item-background{
  background: #f0c52e;
  transition: 0.5s;
}
.main_section-popular_list-popular_list-item_link:focus .main_section-popular_list-popular_list-item_link_block-item-background{
  background: #f0c52e;
  transition: 0.5s;
}
.main_section-popular_list-popular_list-item_link_block-item-background {
  width: 160px;
  height: 160px;
  background: #f7e296;
  line-height: 160px;
  text-align: center;
}
.main_section-popular_list-popular_list-item_link_block-item-background_image-item {
  vertical-align: middle;
}
.main_section-popular_list-popular_list-item-2_link_block-item-background_image-item {
  vertical-align: bottom;
}
/*end of the popular section*/
.header_list-function_login::before{
  content: url("../img/header/icons/png/user.png");
  position: relative;
}
.header_list-function_compare::before{
  content: url("../img/header/icons/png/compare.png");
  position: relative;
}
.header_list-function_cart::before{
  content: url("../img/header/icons/png/cart.png");
}
/*the end of the main section*/

/*footer section*/
footer{
  background: #464646;
}
.footer_logo:hover .footer_logo_image-logo{
  opacity: 0.6;
  transition: 0.5s;
}
.footer_logo:focus .footer_logo_image-logo{
  opacity: 0.6;
  transition: 0.5s;
}
.footer_logo:active .footer_logo_image-logo{
  opacity: 0.3;
  transition: 0.5s;
}
.footer-login::before{
  content: url("../img/footer/icons/userYellow.png")
}
.footer-compare::before{
  content: url("../img/footer/icons/compareYellow.png")
}
.footer-cart::before{
  content: url("../img/footer/icons/cartYellow.png")
}
.partners {
  filter: grayscale(100%);
  opacity: 0.2;
}
.partners:hover {
  filter:grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}
.partners:focus {
  filter:grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}
/*social block*/
.social{
  opacity: 0.3;
}
.social:hover{
  opacity: 0.6;
}
.social:focus{
  opacity: 0.6;
}
.social:active{
  opacity: 0.1;
}
/*social block the end*/
/*the end of the footer section*/

/*additional section*/
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
/*the end of the additional section*/
