@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy Light";
  src: url("fonts/gilroylight.woff2") format("woff2"),
       url("fonts/gilroylight.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

header {
  background: #f7e296;
}
/*header section*/
/*logo*/
.header_logo:hover .header_logo_image{
  opacity: 0.6;
  transition: 0.5s;
}
.header_logo:focus .header_logo_image{
  opacity: 0.6;
  transition: 0.5s;
}
.header_logo:active .header_logo_image{
  opacity: 0.3;
  transition: 0.5s;
}
/*the end of the logo*/
/*functions*/
.functions {
  font-family: "Open Sans", sans-serif;
  list-style: none;
}
.functions__login {
  text-decoration: none;
  color: black;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0.21px;
}
.functions__login-exit {
  text-decoration: none;
  color: black;
  opacity: 0.3;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0.21px;
}
.functions__login::before{
  content: url("../img/header/icons/png/user.png");
  position: relative;
}
.functions__compare {
  text-decoration: none;
  color: black;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0.21px;
}
.functions__compare::before{
  content: url("../img/header/icons/png/compare.png");
  position: relative;
}
.functions__cart {
  text-decoration: none;
  color: black;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0.21px;
}
.functions__cart::before{
  content: url("../img/header/icons/png/cart.png");
}
/*the end of functions*/
/*catalog*/
.catalog_name {
  font-family: "Gilroy Extra Bold";
  cursor: pointer;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4.8px;
}
.navigation-list {
  font-family: "Open Sans", sans-serif;
  list-style: none;
}
.navigation-list a {
  text-decoration: none;
  color: black;
  font-size: 21px;
  line-height: 48px;
  letter-spacing: 0.21px;
}
.navigation-list__item:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.navigation-list__item:active {
  opacity: 0.3;
  transition: 0.5s;
}
/*the end of the catalog*/
/*services*/
.services {
  font-family: "Gilroy Extra Bold";
  list-style: none;
}
.services__item a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4.8px;
}
.services__item:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.services__item:active {
  opacity: 0.3;
  transition: 0.5s;
}
/*the end of the services*/
/*the end of the header block*/

/*main section*/

/*slider-1*/
/*shared font settings*/
.slide-number {
  font-family: "Gilroy Extra Bold";
  font-size: 239px;
  line-height: 239px;
  letter-spacing: 1.8px;
}
.slide-heading {
  font-family: "Gilroy Extra Bold";
  font-size: 62.6px;
  line-height: 74.7px;
  letter-spacing: 0.62px;
}
.slide-description {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.2px;
}
.slide-link-more {
  font-family: "Gilroy Extra Bold";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4.8px;
}
.slide-big-text {
  font-family: "Gilroy Light";
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.48px;
}
.slide-small-text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.17px;
}
/*the end of the shared font settings*/
/*1st-slide*/

/*the end of the 1st-slide*/
/*the end of the slider-1*/
/*popular*/
/*popular shared font settings*/
.list-item__text {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.24px;
}
.list-item__link {
  text-decoration: none;
}
/*the end of the popular shared font settings*/
.popular-navigation {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.list-item__link:active .popular-navigation_list-item__background-image .popular-navigation_list-item__background-image_image-item{
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .popular-navigation_list-item__background-image {
  background: #f0c52e;
  transition: 0.5s;
}
.list-item__link:active p {
  color: #cacaca;
  transition: 0.5s;
}
.list-item__link:hover .popular-navigation_list-item__background-image{
  background: #f0c52e;
  transition: 0.5s;
}
.list-item__link:focus .popular-navigation_list-item__background-image{
  background: #f0c52e;
  transition: 0.5s;
}
.popular-navigation_list-item__background-image {
  width: 160px;
  height: 160px;
  background: #f7e296;
  position: relative;
}
.list-item-1__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-1.svg") no-repeat 50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-2__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-2.svg") no-repeat 50% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-3__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-3.svg") no-repeat 50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-4__background-image::after {
  content: "";
  background: url("../img/main/popular/popular-4.svg") no-repeat 50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-5__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-5.svg") no-repeat 50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-6__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-6.svg") no-repeat 50% 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item__link:active .list-item-1__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-2__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-3__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-4__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-5__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-6__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
/*end of the popular section*/
/*slider-2*/
/*shared font settings*/
.slider-2-buttons {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4.8px;
}
.slider-2__heading {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 62.7px;
  line-height: 64px;
  letter-spacing: 0.62px;
}
.slider-2__text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0.21px;
}
/*the end of the shared font settings*/
.slider-buttons, .slider-services-list {
  list-style: none;
}
/*the end of the slider-2*/
/*partners*/
.partners-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.partners {
  filter: grayscale(100%);
  opacity: 0.2;
}
.partners:hover {
  filter:grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}
.partners:focus {
  filter:grayscale(0%);
  opacity: 1;
  transition: 0.5s;
}
/*the end of the partners section*/
/*about us*/
.about-us__heading {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 62.7px;
  line-height: 64px;
  letter-spacing: 0.62px;

}
.about-us__text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0px;
}
.about-us__list {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 22px;
  line-height: 53.3px;
  letter-spacing: 0px;
}
.about-us__link {
  font-family: "Gilroy Extra Bold";
  color: black;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
/*the end od the about us section*/
/*contacts*/
.contacts__heading {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 62.7px;
  line-height: 64px;
  letter-spacing: 0.62px;
}
.contacts__text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0px;
}
.contacts__write-us {
  font-family: "Gilroy Extra Bold";
  color: black;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
/*the end of the contacts*/
/*the end of the main section*/

/*footer section*/
footer{
  background: #464646;
}
/*text-deco*/
.services-footer {
  font-family: "Gilroy Extra Bold";
  list-style: none;
}
.services-footer__items-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.social-footer {
  list-style: none;
}
/*the end of the text-deco*/
.address {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: white;
}
.footer_logo:hover .footer_logo_image-logo{
  opacity: 0.6;
  transition: 0.5s;
}
.footer_logo:focus .footer_logo_image-logo{
  opacity: 0.6;
  transition: 0.5s;
}
.footer_logo:active .footer_logo_image-logo{
  opacity: 0.3;
  transition: 0.5s;
}
.functions-footer {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.functions-footer__link-login-exit {
  opacity: 0.3;
}
.functions-footer__link-login::before {
  content: url("../img/footer/icons/userYellow.png")
}
.functions-footer__link-compare::before {
  content: url("../img/footer/icons/compareYellow.png")
}
.functions-footer__link-cart::before {
  content: url("../img/footer/icons/cartYellow.png")
}
.functions-footer__link {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  font-size: 21px;
  line-height: 45px;
  letter-spacing: 0.21px;
}
.phone {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0px;
}
.phone_link {
  text-decoration: none;
  color: white;
}
/*social block*/
.social-footer__link{
  opacity: 0.3;
}
.social-footer__link:hover{
  opacity: 0.6;
}
.social-footer__link:focus{
  opacity: 0.6;
}
.social-footer__link:active{
  opacity: 0.1;
}
/*social block the end*/
/*the end of the footer section*/

/*additional section*/
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
/*the end of the additional section*/

/*catalog styles*/
.page-header {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 62.7px;
  line-height: 64px;
  letter-spacing: 0.62px;
}
.bread-crumbs {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.bread-crumbs__link {
  text-decoration: none;
  color: black;
  opacity: 0.3;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.19px;
}
.filter {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 4.4px;
}
.filter-form__heading {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.24px;
}
.filter-form__label {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 19px;
  line-height: 53.3px;
  letter-spacing: 0.19px;
}
.filter-form__button {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 4.8px;
}
.sort-heading {
  font-family: "Gilroy Extra Bold";
  color: black;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 4.4px;
}
.catalog-with-images {
  list-style: none;
}
.hidden-functions__to-cart {
  font-family: "Gilroy Extra Bold";
  color: black;

  text-decoration: none;
}
.hidden-functions__to-compare {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: black;
  opacity: 0.5;
  text-decoration: none;
}
.item-name-price__name-link {
  text-decoration: none;
    color: black;

}
.name-link__heading {
  font-family: "Gilroy Extra Bold";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.24px;
}
.item-name-price__name-price {
    font-family: "Gilroy Light";
    color: #464646;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.22px;
}
.new {
  font-family: "Gilroy Extra Bold";
  color: black;
  opacity: 0.2;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.95px;
}
.catalog-navigation {
  list-style: none;
}
.catalog-navigation__link {
  font-family: "Gilroy Extra Bold";
  text-decoration: none;
  color: black;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 4.4px;
}
/*the end of catalog styles*/
