@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroylight.woff2") format("woff2"),
       url("fonts/gilroylight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}
header {
  background: #f7e296;
  height: 299px;
  width: 1160px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  margin-bottom: -129px;
  position: relative;
}
/*header section*/
/*logo*/
.header-logo {
  position: absolute;
  top: -19px;
  left: 60px;

}
.header-logo:hover .header-logo__image {
  opacity: 0.6;
  transition: 0.5s;
}
.header-logo:focus .header-logo__image {
  opacity: 0.6;
  transition: 0.5s;
}
.header-logo:active .header-logo__image {
  opacity: 0.3;
  transition: 0.5s;
}
/*the end of the logo*/
.functions-section {
  margin: 0;
  width: 1040px;
  padding: 44px 55px 0 60px;
  display: flex;
  justify-content: space-between;
}
.navigation-section {
  width: 1040px;
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}
/*search form*/
.search-form {
  display: flex;
  position: relative;
}
.search-form::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 3px;
  background-image: url("../img/header/search/search.svg");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  z-index: 2;
}
.search-form__input {
  border: none;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin-right: 0;
  min-width: 356px;
  padding-left: 39px;
  padding-bottom: 3px;
}
.search-form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search-form__input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search-form__input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-form__input:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  outline: none;
}
.search-form__button {
  border: none;
  background-color: transparent;
  border: 2px solid #000000;
  padding: 0 19px 0 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  visibility: hidden;
}
.search-form__input:focus ~ .search-form__button {
  visibility: visible;
}
.search-form__input:focus ~ .search-form__button:hover {
  background-color: #000000;
  color: #ffffff;
}
.search-form__button:active  {
  background-color: #000000;
  color: rgba(255,255,255,0.3);
  visibility: visible;
}
.search-form:hover > .search-form__input:not(:focus) {
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
/*the end of the search form*/
/*functions*/
.functions-list {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}
.functions__style:hover, .functions__style:focus {
  opacity: 0.6;
}
.functions__style:active {
  opacity: 0.3;
}
.functions__login {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.functions__login-exit {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.functions__login::before {
  content: "";
  position: relative;
  background-image: url("../img/header/icons/svg/user.svg");
  display: inline-block;
  background-repeat: no-repeat;
  height: 12px;
  width: 13px;
  margin-right: 13px;
}
.item-compare {
  margin-right: -176px;
}
.functions__compare {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.15px;
}
.functions__compare::before {
  content: "";
  position: relative;
  background-image: url("../img/header/icons/svg/compare.svg");
  background-position: bottom;
  display: inline-block;
  background-repeat: no-repeat;
  height: 12px;
  width: 10px;
  margin-right: 10px;
}
.functions__cart {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.21px;
}
.functions__cart::before {
  content: "";
  position: relative;
  background-image: url("../img/header/icons/svg/cart.svg");
  display: inline-block;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  margin-right: 10px;
}
/*the end of functions - fonts ok*/
/*catalog*/
.catalog {
  position: relative;
}
.catalog:hover > .catalog-navigation {
  visibility: visible;
}
.catalog__name {
  display: block;
  font-family: "Gilroy";
  font-weight: bold;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-left: -1px;
}
.catalog__name:hover, .catalog__name:focus {
  opacity: 0.6
}
.catalog__name:active {
  opacity: 0.3;
}
.catalog__name::after {
  content: "";
  position: absolute;
  background-image: url("../img/header/icons/svg/plus.svg");
  right: -28px;
  top: 3px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  opacity: 0.3;
}
.catalog-navigation {
  visibility: hidden;
  display: block;
  position: absolute;
  width: 1160px;
  height: 162px;
  z-index: 3;
  top: 24px;
  left: -60px;
  background-color: #f7e296;
}
.navigation-list {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  position: relative;
  display: flex;
  width: 660px;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 46px;
  margin-left: 60px;
}
.navigation-list__item {
  margin-top: 19px;
  width: 200px;

}
.navigation-list__item a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.15px;
}
.navigation-list__item:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.navigation-list__item:active {
  opacity: 0.3;
  transition: 0.5s;
}

/*the end of the catalog*/
/*services*/
.services {
  font-family: "Gilroy";
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}
.services__item a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.services__item a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.services__item a:active {
  opacity: 0.3;
  transition: 0.5s;
}
.item-delivery {

}
.item-warranty {
  margin-left: -75px;
}
.item-contacts {
  margin-right: -4px;
}
/*the end of the services*/
/*the end of the header block*/

/*main section*/
main {
  margin: 0 auto;
}
/*slider-1*/
/*shared font settings*/
.slider-image, .slider-information {
  width: 560px;
  position: relative;
}
.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.slider-information::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 0px;
  width: 100px;
  border-bottom: 7px solid #ffffff;
}
.slide-number {
  position: absolute;
  color: #ffffff;
}
.slide-heading {
  position: relative;
  z-index: 2;
  margin-top: 97px;
  margin-left: -1px;
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.6px;
}
.slide-description {
  margin-top: -78px;
}
.flex-shrink-normalize {
  flex-grow: 1;
  margin-top: -74px;
}
.slide-link-more {
  padding-left: 2px;
  margin-top: 2px;
}
.slide-label {
  margin-top: -61px;
  flex-grow: 1;
}
.additional-information {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5px;
}
.additional-information-second {
  left: 160px;
}
.additional-information-third {
  left: 299px;
}

.first-slide__number {
  top: 3px;
  right: 46px;
}
.second-slide__number {
  top: 3px;
  right: 47px;
}
.third-slide__number {
  top: 3px;
  right: 48px;
}
.first-slide__image {
  margin-top: 22px;
  margin-left: 5px;
}
.second-slide__image {
  margin-top: 45px;
  margin-left: 17px;
}
.third-slide__image {
  margin-top: -1px;
  margin-left: 29px;
}
.popular-slide {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slide-number {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 1.792px;
}
.slide-heading {

}
.slide-description {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.slide-link-more {
  text-decoration: none;
  display: block;
  width: 220px;
  height: 40px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}
.slide-link-more::after {
  content: "";
  background-color: #f0c52e;
  display: block;
  width: inherit;
  height: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto 0 auto 0;
  z-index: -1;
}
.slide-link-more:hover::after {
  height: 40px;
  transition: 0.5s;
}
.slide-link-more:active {
  color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.slide-big-text {
  font-family: "Gilroy";
  font-weight: lighter;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.36px;
}
.slide-small-text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  margin-top: 10px;
}
/*the end of the shared font settings*/
/*1st-slide*/

/*the end of the 1st-slide*/
/*popular-slider technical part*/
.popular-slider {
  position: relative;
  height: 500px;
}
.popular-slider input[type="radio"] {
  display: none;
}
.popular-slide {
  visibility: hidden;
  width: 1160px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider-controls {
  position: absolute;
  z-index: 10;
  right: 69px;
  bottom: 139px;
}
.slider-controls label {
  display: inline-block;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  background-image: url("../img/main/sliderCommon/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 10;
  margin-right: 14px;
}
#popular-01:checked ~ .slider-controls label[for="popular-01"],
#popular-02:checked ~ .slider-controls label[for="popular-02"],
#popular-03:checked ~ .slider-controls label[for="popular-03"] {
  background-image: url("../img/main/sliderCommon/slider-button.svg");
}
#popular-01:checked ~ .popular-first-slide {
  visibility: visible;
}
#popular-02:checked ~ .popular-second-slide {
  visibility: visible;
}
#popular-03:checked ~ .popular-third-slide {
  visibility: visible;
}
/* the end of the popular-slider technical part*/
/*the end of the slider-1*/
/*popular*/
.categories {
  margin-top: 110px;
}
/*popular shared font settings*/
.list-item__text {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-top: 33px;
}
.list-item__link {
  text-decoration: none;
}
/*the end of the popular shared font settings*/
.popular-navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}
.list-item {
  min-height: 276px;
  max-width: 160px;
}
.list-item__link:active .popular-navigation_list-item__background-image .popular-navigation_list-item__background-image_image-item {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .popular-navigation_list-item__background-image {
  background: #f0c52e;
  transition: 0.5s;
}
.list-item__link:active p {
  color: #cacaca;
  transition: 0.5s;
}
.list-item__link:hover .popular-navigation_list-item__background-image {
  background: #f0c52e;
  transition: 0.5s;
}
.list-item__link:focus .popular-navigation_list-item__background-image {
  background: #f0c52e;
  transition: 0.5s;
}
.popular-navigation_list-item__background-image {
  width: 160px;
  height: 160px;
  background: #f7e296;
  position: relative;
}
.list-item-1__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-1.svg") no-repeat 50% 50%;
  top: 0;
  left: 0;
  bottom: 2px;
  right: 2px;
  position: absolute;
  z-index: 1;
}
.list-item-2__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-2.svg") no-repeat 50% 100%;
  top: 0;
  left: 2px;
  bottom: 2px;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-3__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-3.svg") no-repeat 50% 50%;
  top: 2px;
  left: 9px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-4__background-image::after {
  content: "";
  background: url("../img/main/popular/popular-4.svg") no-repeat 50% 50%;
  top: 5px;
  left: 2px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-5__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-5.svg") no-repeat 50% 50%;
  top: 2px;
  left: 5px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.list-item-6__background-image::after  {
  content: "";
  background: url("../img/main/popular/popular-6.svg") no-repeat 50% 50%;
  top: 6px;
  left: 0;
  bottom: 0;
  right: 3px;
  position: absolute;
  z-index: 1;
}
.list-item__link:active .list-item-1__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-2__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-3__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-4__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-5__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
.list-item__link:active .list-item-6__background-image::after {
  opacity: 0.3;
  transition: 0.5s;
}
/*end of the popular section*/
.section-services-slider {
  margin-top: 46px;
  min-height: 388px;
  background-image: linear-gradient(to top, #e5e5e5 288px, #ffffff 288px);
  display: flex;
}
/*services-slider*/

.container-services-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.information-block {
  position: relative;
  display: flex;
  justify-content: center;
}
.buttons-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 277px;
  min-height: 319px;
  border-right: 7px solid #000000;
}

.delivery-slide::after {
  content: "";
  background: url("../img/main/secondSlider/delivery.svg");
  position: absolute;
  right: -252px;
  top: 85px;
  width: 136px;
  height: 164px;
  z-index: 1;
}
.warranty-slide::after {
  content: "";
  background: url("../img/main/secondSlider/warranty.svg");
  position: absolute;
  right: -272px;
  top: 59px;
  width: 171px;
  height: 195px;
  z-index: 1;
}
.credit-slide::after {
  content: "";
  background: url("../img/main/secondSlider/credit.svg");
  position: absolute;
  right: -249px;
  top: 60px;
  width: 156px;
  height: 188px;
  z-index: 1;
}
.delivery-slide__heading {
  display: block;
  min-width: 219px;
}
.delivery-slide__text {
  display: block;
  width: 437px;
  word-wrap: normal;
}
/*shared font settings*/
.services-slider-buttons {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}
.slider-services-list__heading {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;
  margin-top: 73px;

}
.slider-services-list__text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-top: 31px;
}
/*the end of the shared font settings*/
.services-slider-control {
  width: 100%;
  height: 169px;
  width: 277px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 7px solid #000000;
  padding: 75px 0 75px 0;

}
.services-slider-control label {
    margin-top: 5px;
    cursor: pointer;
    display: block;
    height: 40px;
    width: 160px;
    position: relative;
    z-index: 3;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    padding-left: 2px;
}
.services-slider-control > label.control-warranty {
  margin-top: 4px;
}
.services-slider-control > label.control-credit {
  margin-bottom: -5px;
}
.services-slider-control, .slider-services-list {
  list-style: none;

}
.slider-services-list {
  margin-left: 117px;
}
.slider-services-list__slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  width: 440px;
}
.slider-services-list .slider-services-list__slide {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 118px;
}
#first-services-slide:checked ~ .services-slider-control label[for="first-services-slide"],
#second-services-slide:checked ~ .services-slider-control label[for="second-services-slide"],
#third-services-slide:checked ~ .services-slider-control label[for="third-services-slide"] {
  color: #f7e184;
  margin-left: 2px;
}
#first-services-slide:checked ~ .services-slider-control label[for="first-services-slide"]::after,
#second-services-slide:checked ~ .services-slider-control label[for="second-services-slide"]::after,
#third-services-slide:checked ~ .services-slider-control label[for="third-services-slide"]::after {
  background-color: #000000;
  width: 278px;
  height: 40px;
  top: 0;
  left: -2px;
}
#first-services-slide:checked ~ .information-block > .slider-services-list > .delivery-slide {
  visibility: visible;
}
#second-services-slide:checked ~ .information-block > .slider-services-list > .warranty-slide {
  visibility: visible;
}
#third-services-slide:checked ~ .information-block > .slider-services-list > .credit-slide {
  visibility: visible;
}

/*the end of the services-slider*/
/*partners*/
.partners-section {
  margin-top: 94px;
}
.partners-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.partners {
  position:relative;
}
.partners a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.partners-list .partners:last-child a {
  margin-left: -3px;
}
a.partners__DJI::after  {
  background-image: url("../img/main/partners/hover/DJI.png");
}
a.partners__SPGadgets::after {
  background-image: url("../img/main/partners/hover/SPGadgets.png");
}
a.partners__GoPro::after {
  background-image: url("../img/main/partners/hover/GoPro.png");
}
a.partners__Vive::after {
  background-image: url("../img/main/partners/hover/Vive.png");
  margin-left: -3px;
}
a.partners__link:hover::after {
  opacity: 1.0;
  transition: 0.5s;
}
/*the end of the partners section*/





/*about us*/

.about-us {
  position: relative;
  width: 50%;
}
.about-us::before {
  position: absolute;
  content: "";
  background-image: url("../img/main/about-us/top-line.png");
  top: 0;
  left: 0;
  height: 7px;
  width: 80px;
}
.about-us__heading {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;

}
.about-us__text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0px;
}
.about-us__text-1 {
  letter-spacing: 0.1px;
}
.about-us__text-2 {
  margin-top: 30px;
  letter-spacing: -0.18px;
}
.about-us__list {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  line-height: 40px;
  list-style: none;
  letter-spacing: 0px;
  margin-top: 66px;
  margin-left: 35px;
}
.about-us__link {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 260px;
  height: 40px;
  text-align: center;
  position: relative;
  margin-top: 54px;
  padding-left: 2px;
}
.delivery-partners__item {
  position: relative;
  letter-spacing: 0.17px;
}
.delivery-partners__item::before {
  content: "";
  position: absolute;
  background-image: url("../img/main/about-us/slider-button-gray.png");
  top: 16px;
  left: -35px;
  width: 8px;
  height: 8px;
}
/*the end od the about us section*/
/*contacts*/
.contacts {
  position: relative;
  width: 50%;
  margin-left: 40px;
}
.contacts::before {
  position: absolute;
  content: "";
  background-image: url("../img/main/about-us/top-line.png");
  top: 0;
  left: 0;
  height: 7px;
  width: 80px;
}
.contacts__heading {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}
.contacts__text {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0px;
}
.contacts__write-us {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 260px;
  height: 40px;
  text-align: center;
  position: relative;
  margin-top: 65px;
  padding-left: 2px;
}
.contacts__map-image {
  margin-top: 39px;
}
/*the end of the contacts*/
/*about-us and contacts shared properties*/
.about-us__heading, .contacts__heading {
  margin-top: 52px;

  margin-left: -2px;
}
.about-us__text-1, .contacts__text{
  margin-top: 43px;
}
/*the end of /*about-us and contacts shared properties*/
/*the end of the main section*/

/*footer section*/
footer {
  background: #464646;
  display: flex;
  margin: 0 auto;
  margin-top: 82px;
}
.footer-section {
  width: 32%;
}
.container-footer {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 65px;
}
.info-section-footer {
  position: relative;
}
.info-section-footer::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 80px;
  border-bottom: 7px solid #ffc600;
  bottom: 77px;
}
.services-social-section-footer {
  margin-top: 70px;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.functions-section-footer {
}
/*text-deco*/
.services-footer {
  font-family: "Gilroy";
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1px;
}
.services-footer__items-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.services-footer__warranty {
  margin: 0 35px 0 35px;
}
.services-footer__contacts {
}
.services-footer__items-link:hover, .services-footer__items-link:focus {
  opacity: 0.6;
}
.services-footer__items-link:active {
  opacity: 0.3;
}
.social-footer {
  list-style: none;
  margin-top: 64px;
  width: 144PX;
  display: flex;
  justify-content: space-around;
}
/*the end of the text-deco*/
.address {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01px;
  margin-top: 25px;
}
.footer_logo:hover .footer_logo_image-logo {
  opacity: 0.6;
  transition: 0.5s;
}
.footer_logo:focus .footer_logo_image-logo {
  opacity: 0.6;
  transition: 0.5s;
}
.footer_logo:active .footer_logo_image-logo {
  opacity: 0.3;
  transition: 0.5s;
}
.functions-section-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.functions-footer {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -5px;
}
.functions-footer__link-login-exit {
  opacity: 0.3;
}
.functions-footer__link-login::before {
  content: "";
  position: relative;
  background-image: url("../img/footer/icons/userYellow.png");
  background-position: 50% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  height: 12px;
  width: 13px;
  margin-right: 13px;
}
.functions-footer__link-compare::before {
  content: "";
  position: relative;
  background-image: url("../img/footer/icons/compareYellow.png");
  background-position: 50% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  bottom: 0;
  height: 12px;
  width: 13px;
  margin-right: 9px;
}
.functions-footer__link-cart::before {
  content: "";
  position: relative;
  background-image: url("../img/footer/icons/cartYellow.png");
  background-position: 50% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  height: 12px;
  width: 13px;
  margin-right: 8px;
}
.functions-footer__link-compare {
  margin-right: 41px;
}
.functions-footer__link-login {
  margin-right: 41px;
}
.functions-footer__link {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.phone {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0px;
  margin-top: 35px;
}
.phone__link {
  text-decoration: none;
  color: #ffffff;
}
.html-academy-logo {
  margin-top: 61px;
  padding-bottom: 60px;
}
/*social block*/
.instagram {
    margin: 0 21px 0 21px;
}
.social-footer {
  display: flex;
}
.social-footer__link {
  opacity: 0.3;
}
.social-footer__link:hover {
  opacity: 0.6;
}
.social-footer__link:focus {
  opacity: 0.6;
}
.social-footer__link:active {
  opacity: 0.1;
}
/*social block the end*/
/*the end of the footer section*/

/*additional section*/
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.link-animation::after {
  content: "";
  background-color: #f0c52e;
  display: block;
  width: inherit;
  height: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto 0 auto 0;
  z-index: -1;
}
label.link-animation::after {
  width: 160px;
}
.link-animation:hover::after {
  height: 40px;
  transition: 0.5s;
}
.link-animation:active {
  color: rgba(0, 0, 0, 0.3);
}
label.link-animation:active {
  color: #f7e184;
}
label.link-animation:active::after {
  background-color: #000000;
  width: 278px;
  top: 0;
  left: -2px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}
.column {
  flex-direction: column;
}
.container-sections {
  justify-content: space-between;
}
.about-us-container {
  margin-top: 89px;
}
/*the end of the additional section*/

/*catalog styles*/
.page-header {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}
.breadcrumbs {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.breadcrumbs__link {
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
}
.filter {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
}
.filter-form__heading {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.filter-form__label {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #000000;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}
.filter-form__button {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 3.6px;
}
.sort-heading {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
}
.catalog-images {
  list-style: none;
}
.hidden-functions__to-cart {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}
.hidden-functions__to-compare {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #000000;
  opacity: 0.5;
  text-decoration: none;
}
.item-name-price__name-link {
  text-decoration: none;
    color: #000000;
    font-size: 13px;
    line-height: 36px;
    letter-spacing: 0.13px;
    opacity: 0.5;

}
.name-link__heading {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.item-name-price__name-price {
    font-family: "Gilroy";
    font-weight: lighter;
    color: #464646;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
}
.new {
  font-family: "Gilroy";
  font-weight: bold;
  color: #000000;
  opacity: 0.2;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
}
.catalog-pagination {
  list-style: none;
  display: flex;
  width: 760px;
  height:80px;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.catalog-pagination__link {
  font-family: "Gilroy";
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
}
.catalog-pagination__item:not(:first-child):not(:last-child) .catalog-pagination__link {
  margin: 0 31px 0 31px;
  color: rgba(0, 0, 0, 0.3);
}
.catalog-pagination__item:not(:first-child):not(:last-child):hover .catalog-pagination__link {
  color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.catalog-pagination__item:not(:first-child):not(:last-child):active .catalog-pagination__link {
  color: rgba(0, 0, 0, 1);
  transition: 0.5s;
}
.catalog-pagination__item-active:not(:first-child):not(:last-child) .catalog-pagination__link {
  color: rgba(0, 0, 0, 1);
}
.catalog-pagination__item:first-child {
  display: block;
  height: 80px;
  line-height: 80px;
  margin-right: auto;
}
.catalog-pagination__item:first-child .catalog-pagination__link{
  display: block;
  height: 80px;
  line-height: 80px;
  margin-right: auto;
  padding: 0 30px 0 30px;
}
.catalog-pagination__item:first-child:hover .catalog-pagination__link{
  background-color: #d9d9d9;
  transition: 0.5s;
}
.catalog-pagination__item:first-child:active .catalog-pagination__link{
  color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
/*last-child*/
.catalog-pagination__item:last-child {
  display: block;
  height: 80px;
  line-height: 80px;
  margin-left: auto;
  margin-right: 0;
}
.catalog-pagination__item:last-child .catalog-pagination__link{
  display: block;
  height: 80px;
  line-height: 80px;
  margin-right: auto;
  padding: 0 32px 0 30px;
}
.catalog-pagination__item:last-child:hover .catalog-pagination__link{
  background-color: #d9d9d9;
  transition: 0.5s;
}
.catalog-pagination__item:last-child:active .catalog-pagination__link{
  color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
/*the end of catalog styles*/
