@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
    url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroylight.woff2") format("woff2"),
    url("fonts/gilroylight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

html {
  width: 100%
}

* {
  margin: 0;
  padding: 0;
}

fieldset.fieldset-filter {
  margin: 0;
  padding: 0;
}

.header {
  background: #f7e296;
  height: 186px;
  width: 1160px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
}

/*header section*/
/*logo*/
.header-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.header-logo__image {
  pointer-events: none;
}

.header-logo:hover .header-logo__image,
.header-logo:focus .header-logo__image {
  opacity: 0.6;
  transition: 0.3s;
}

.header-logo:focus .header-logo__image {
  opacity: 0.6;
  transition: 0.3s;
}

.header-logo:active .header-logo__image {
  opacity: 0.3;
  transition: 0.3s;
}

/*the end of the logo*/
.functions-section {
  margin: 0;
  width: 1040px;
  padding: 44px 55px 0 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*search form*/
.search-form {
  display: flex;
  position: relative;
  margin-left: 0;
  margin-right: auto;
}

.search-form::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 3px;
  background-image: url("../img/header/search/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
  z-index: 2;
}

.search-form__input {
  border: none;
  background: transparent;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin-right: 0;
  min-width: 356px;
  padding-left: 39px;
  padding-bottom: 3px;
}

.search-form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:hover::-moz-placeholder,
.search-form__input:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:hover::-webkit-input-placeholder,
.search-form__input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:hover:-ms-input-placeholder,
.search-form__input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  outline: none;
}

.search-form__button {
  border: none;
  background-color: transparent;
  border: 2px solid #000000;
  padding: 0 19px 0 19px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  visibility: hidden;
}

.search-form__input:focus ~ .search-form__button {
  visibility: visible;
}

.search-form__input:focus ~ .search-form__button:hover,
.search-form__input:focus ~ .search-form__button:focus {
  background-color: #000000;
  color: #ffffff;
}

.search-form__button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  visibility: visible;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*the end of the search form*/
/*functions*/
.functions-list {
  font-family: "Open Sans", "Arial", sans-serif;
  list-style: none;
  font-weight: 200;
  display: flex;
  justify-content: flex-end;
  -ms-flex-pack: end;
  margin-top: -1px;
  right: 0;
  min-width: 480px;
  z-index: 2;
}

.item-compare {
  margin-right: 40px;
}

.functions-list__item a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.15px;
}

.functions-list__item a:hover, .functions-list__item a:focus {
  opacity: 0.6;
}

.functions-list__item a:active {
  opacity: 0.3;
}

.item-login {
  margin-right: 217px;
}

.item-login a::before {
  content: "";
  position: relative;
  background-image: url("../img/header/icons/svg/user.svg");
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 13px;
  margin-right: 13px;
}

.item-logged-in a::before {
  content: "";
  position: relative;
  background-image: url("../img/header/icons/svg/user.svg");
  background-size: contain;
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  height: 12px;
  width: 13px;
  margin-right: 13px;
}

.item-compare a::before {
  content: "";
  position: relative;
  background-image: url("../img/header/icons/svg/compare.svg");
  background-size: contain;
  background-position: bottom;
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  height: 12px;
  width: 10px;
  margin-right: 10px;
}

.item-cart a::before {
  content: "";
  position: relative;
  background-image: url("../img/header/icons/svg/cart.svg");
  background-size: contain;
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  margin-right: 10px;
}

.item-exit {
  margin-right: 63px;
  margin-left: 20px;
  opacity: 0.3;
}

/*the end of functions - fonts ok*/
/*catalog*/
.navigation-section {
  width: 1040px;
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}

.catalog {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0;
  margin-right: auto;
}

.catalog:hover .catalog-navigation,
.catalog:focus .catalog-navigation,
.catalog__name:hover ~ .catalog-navigation,
.catalog__name:focus ~ .catalog-navigation {
  display: block;
}

.catalog-navigation--active {
  display: block;
}

.catalog__name {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-left: -1px;
  color: rgba(0, 0, 0, 1);
}

.catalog__name:hover, .catalog__name:focus {
  color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.catalog__name:active {
  color: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.catalog__name::after {
  content: "";
  position: absolute;
  background-image: url("../img/header/icons/svg/plus.svg");
  background-size: contain;
  right: -28px;
  top: 3px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-navigation {
  display: none;
  position: absolute;
  width: 1160px;
  min-height: 163px;
  z-index: 6;
  top: 24px;
  left: -60px;
  background-color: #f7e296;
}

.navigation-list {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  list-style: none;
  position: relative;
  display: flex;
  width: 660px;
  min-height: 150px;
  margin-left: 60px;
  padding-top: 15px;
}

.column-2__list {
  padding-left: 21px;
}

.column-3__list {
  padding-left: 5px;
}

.navigation__list-item {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.15px;
}

.navigation__list-item:hover,
.navigation__list-item:focus {
  opacity: 0.6;
  transition: 0.3s;
}

.navigation__list-item:active {
  opacity: 0.3;
  transition: 0.3s;
}

.column-list li {
  margin-top: 17px;
}

.column-list li:last-child {
  margin-bottom: 42px;
}

.navigation-list__column {
  position: relative;
  width: 33%;
  margin-right: 0;
}

.column-list {
  list-style: none;
}

/*the end of the catalog*/
/*services*/
.services-container {
  display: flex;
  justify-content: space-between;
}

.services {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  list-style: none;
  width: 500px;
  display:flex;
  justify-content: flex-start;
}

.services__item {
  display: inline-block;
  vertical-align: baseline;
}

.item-delivery {
  margin-left: 0;
}

.item-warranty {
  margin-left: 35px;
}

.item-contacts {
  margin-right: -4px;
  margin-left: auto;
}

.services__item a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.services__item a:hover,
.services__item a:focus {
  opacity: 0.6;
  transition: 0.3s;
}

.services__item a:active {
  opacity: 0.3;
  transition: 0.3s;
}

/*the end of the services*/
/*the end of the header block*/
/*main section

/*slider-popular*/
/*shared font settings*/
.slider-popular-section {
  margin-top: -16px;
}

.popular-slider {
  background-image: linear-gradient(to bottom, #f7e296 129px, #ffffff 129px);
  position: relative;
  min-height: 500px;
}

.slider-image,
.slider-information {
  width: 560px;
  position: relative;
}

.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-information {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 500px;
}

.slider-information p:first-of-type {
  margin-top: 19px;
}

.slider-information::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 0px;
  width: 100px;
  border-bottom: 7px solid #ffffff;
}

.slide-heading {
  position: relative;
  z-index: 2;
  margin-top: 97px;
  margin-left: -1px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.6px;
}

.more-wrapper {
  margin-top: 41px;
}

.slide-label {
  margin-top: -61px;
  flex-grow: 1;
}

.additional-information__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 54px;
  margin-bottom: 25px;
}

.additional-information {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.additional-information-second {
  width: 139px;
}

.first-slide__number {
  top: 3px;
  right: 46px;
}

.second-slide__number {
  top: 3px;
  right: 47px;
}

.third-slide__number {
  top: 3px;
  right: 48px;
}

.first-slide__image {
  margin-top: 2px;
  margin-left: 4px;
}

.second-slide__image {
  margin-top: 25px;
  margin-left: 17px;
}

.third-slide__image {
  margin-top: -20px;
  margin-left: 28px;
}

.popular-slide {
  position: relative;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  width: 1160px;
  min-height: 520px;
  top: 0;
  left: 0;
}

.slide-number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 1.792px;
  position: absolute;
  color: #ffffff;
}

.slide-description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.slide-link-more {
  text-decoration: none;
  display: block;
  width: 220px;
  height: 40px;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  padding-left: 2px;
  margin-top: 2px;
  z-index: 2;
}

.slide-link-more:hover::after,
.slide-link-more:focus::after {
  height: 40px;
  transition: 0.3s;
}

.slide-link-more:active {
  color: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.slide-big-text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 200;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.36px;
}

.slide-small-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  margin-top: 10px;
}

/*the end of the shared font settings*/
/*1st-slide*/
/*the end of the 1st-slide*/
/*popular-slider technical part*/

.slider-controls {
  position: absolute;
  z-index: 2;
  right: 68px;
  bottom: 158px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: baseline;
  width: 15px;
  height: 15px;
  background-image: url("../img/main/slider-common/slider-button-empty.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
  margin-right: 14px;
}

#popular-01:checked ~ .slider-controls label[for="popular-01"],
#popular-02:checked ~ .slider-controls label[for="popular-02"],
#popular-03:checked ~ .slider-controls label[for="popular-03"] {
  background-image: url("../img/main/slider-common/slider-button.svg");
}

#popular-01:checked ~ .popular-slide-1 {
  display: flex;
}

#popular-02:checked ~ .popular-slide-2 {
  display: flex;
}

#popular-03:checked ~ .popular-slide-3 {
  display: flex;
}

/* the end of the popular-slider technical part*/
/*the end of the slider-1*/
/*popular*/
.categories {
  margin-top: 90px;
}

/*popular shared font settings*/
.list-item__text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-top: 33px;
  pointer-events: none;
}

.list-item-2__text {
  box-sizing: border-box;
  padding-right: 40px;
}

.list-item__link {
  text-decoration: none;
  position: relative;
  display: block;
}

.list-item__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*the end of the popular shared font settings*/
.popular-navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  flex-wrap: wrap;
}

.list-item {
  min-height: 276px;
  max-width: 160px;
  display: block;
}

.list-item__link:active .list-item__background-img {
  background: #f0c52e;
  transition: 0.3s;
}

.list-item__link:active p {
  color: #cacaca;
  transition: 0.3s;
}

.list-item__link:hover .list-item__background-img,
.list-item__link:focus .list-item__background-img {
  background: #f0c52e;
  transition: 0.3s;
}

.list-item__link:focus .list-item__background-img {
  background: #f0c52e;
  transition: 0.3s;
}

.list-item__background-img {
  width: 160px;
  height: 160px;
  background: #f7e296;
  position: relative;
  pointer-events: none;
}

.list-item-1__background-img::after {
  content: "";
  background: url("../img/main/popular/popular-1.svg") no-repeat 50% 50%;
  top: 0;
  left: 0;
  bottom: 2px;
  right: 2px;
  position: absolute;
  z-index: 1;
}

.list-item-2__background-img::after {
  content: "";
  background: url("../img/main/popular/popular-2.svg") no-repeat 50% 100%;
  top: 0;
  left: 2px;
  bottom: 2px;
  right: 0;
  position: absolute;
  z-index: 1;
}

.list-item-3__background-img::after {
  content: "";
  background: url("../img/main/popular/popular-3.svg") no-repeat 50% 50%;
  top: 2px;
  left: 9px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.list-item-4__background-img::after {
  content: "";
  background: url("../img/main/popular/popular-4.svg") no-repeat 50% 50%;
  top: 5px;
  left: 2px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.list-item-5__background-img::after {
  content: "";
  background: url("../img/main/popular/popular-5.svg") no-repeat 50% 50%;
  top: 2px;
  left: 5px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.list-item-6__background-img::after {
  content: "";
  background: url("../img/main/popular/popular-6.svg") no-repeat 50% 50%;
  top: 6px;
  left: 0;
  bottom: 0;
  right: 3px;
  position: absolute;
  z-index: 1;
}

.list-item__link:active .list-item-1__background-img::after {
  opacity: 0.3;
  transition: 0.3s;
  pointer-events: none;
}

.list-item__link:active .list-item-2__background-img::after {
  opacity: 0.3;
  transition: 0.3s;
  pointer-events: none;
}

.list-item__link:active .list-item-3__background-img::after {
  opacity: 0.3;
  transition: 0.3s;
  pointer-events: none;
}

.list-item__link:active .list-item-4__background-img::after {
  opacity: 0.3;
  transition: 0.3s;
  pointer-events: none;
}

.list-item__link:active .list-item-5__background-img::after {
  opacity: 0.3;
  transition: 0.3s;
  pointer-events: none;
}

.list-item__link:active .list-item-6__background-img::after {
  opacity: 0.3;
  transition: 0.3s;
  pointer-events: none;
}

/*end of the popular section*/
.section-services-slider {
  margin-top: 46px;
  min-height: 388px;
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
  display: flex;
  width: 100%;
  min-width: 1160px;
}

/*services-slider*/
.container-services-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.information-block {
  position: relative;
  display: flex;
  justify-content: center;
}

.buttons-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 277px;
  min-height: 319px;
  border-right: 7px solid #000000;
}

.delivery-slide::after {
  content: "";
  background-image: url("../img/main/services-slider/delivery.svg");
  background-size: contain;
  position: absolute;
  right: -254px;
  top: 85px;
  width: 136px;
  height: 164px;
  z-index: 1;
}

.warranty-slide::after {
  content: "";
  background-image: url("../img/main/services-slider/warranty.svg");
  background-size: contain;
  position: absolute;
  right: -274px;
  top: 61px;
  width: 171px;
  height: 195px;
  z-index: 1;
}

.credit-slide::after {
  content: "";
  background-image: url("../img/main/services-slider/credit.svg");
  background-size: contain;
  position: absolute;
  right: -250px;
  top: 61px;
  width: 156px;
  height: 188px;
  z-index: 1;
}

.delivery-slide__text {
  display: block;
  width: 437px;
  word-wrap: normal;
}

/*shared font settings*/
.services-slider-buttons {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.slider-services-list__heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;
  margin-top: 73px;
}

.slider-services-list__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.1px;
  margin-top: 31px;
}

/*the end of the shared font settings*/
.services-slider-control {
  width: 100%;
  min-height: 169px;
  width: 277px;
  margin-bottom: 69px;
  display: flex;
  flex-direction: column;
  border-right: 7px solid #000000;
  padding: 75px 0 75px 0;
}

.services-slider-control label {
  margin-top: 5px;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 160px;
  position: relative;
  z-index: 3;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  padding-left: 2px;
}


.services-slider-control label.control-warranty {
  margin-top: 4px;
}



.services-slider-control label:not(:first-child) {
  margin-top: 24px;
}

.services-slider-control label.control-credit {
  margin-bottom: -5px;
  margin-top: 25px;
}

.services-slider-control,
.slider-services-list {
  list-style: none;
}

.slider-services-list {
  margin-left: 117px;
}

.slider-services-list__slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  width: 440px;
  padding-bottom: 30px;
}

.slider-services-list .slider-services-list__slide {
  position: relative;
  display: none;
  top: 0;
  left: -1px;
}

#service-slide-1:checked ~ .services-slider-control label[for="service-slide-1"],
#service-slide-2:checked ~ .services-slider-control label[for="service-slide-2"],
#service-slide-3:checked ~ .services-slider-control label[for="service-slide-3"] {
  color: #f7e184;
}

#service-slide-1:checked ~ .services-slider-control label[for="service-slide-1"]::after,
#service-slide-2:checked ~ .services-slider-control label[for="service-slide-2"]::after,
#service-slide-3:checked ~ .services-slider-control label[for="service-slide-3"]::after {
  background-color: #000000;
  width: 278px;
  height: 100%;
  top: 0;
}

#service-slide-1:checked ~ .information-block .slider-services-list .delivery-slide {
  display: flex;
}

#service-slide-2:checked ~ .information-block .slider-services-list .warranty-slide {
  display: flex;
}

#service-slide-3:checked ~ .information-block .slider-services-list .credit-slide {
  display: flex;
}

/*the end of the services-slider*/
/*partners*/
.partners-section {
  margin-top: 94px;
}

.partners-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: -40px;
}

.partners {
  position: relative;
  margin-left: 40px;
}

.partners a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

a.partners-1::after {
  background-image: url("../img/main/partners/hover/dji.png");
  background-size: contain;
}

a.partners-2::after {
  background-image: url("../img/main/partners/hover/spgadgets.png");
  background-size: contain;
}

a.partners-3::after {
  background-image: url("../img/main/partners/hover/go-pro.png");
  background-size: contain;
}

a.partners-4::after {
  background-image: url("../img/main/partners/hover/vive.png");
  background-size: contain;
}

.partners__link {
  display: block;
  height: 100px;
}

a.partners__link:hover::after,
a.partners__link:focus::after {
  opacity: 1.0;
  transition: 0.3s;
}

/*the end of the partners section*/
/*about us*/
.about-us {
  position: relative;
  width: 50%;
}

.about-us::before {
  position: absolute;
  content: "";
  display: block;
  background-color: #000000;
  top: 0;
  left: 0;
  height: 7px;
  width: 80px;
}

.about-us__heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.about-us__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.5px;
  padding-right: 95px;
}

.about-us__text-2 {
  margin-top: 30px;
}

.delivery-partners {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  line-height: 40px;
  list-style: none;
  letter-spacing: 0px;
  margin-top: 66px;
  margin-left: 35px;
}

.about-us__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 260px;
  height: 40px;
  text-align: center;
  position: relative;
  margin-top: 54px;
  padding-left: 2px;
}

.delivery-partners__item {
  position: relative;
  letter-spacing: 0.17px;
  line-height: 40px;
}

.delivery-partners__item::before {
  content: "";
  position: absolute;
  background-image: url("../img/main/about-us/slider-button-gray.png");
  background-size: contain;
  top: 16px;
  left: -35px;
  width: 8px;
  height: 8px;
}

/*the end od the about us section*/
/*contacts*/
.contacts {
  position: relative;
  width: 50%;
  margin-left: 40px;
}

.contacts::before {
  position: absolute;
  content: "";
  display: block;
  background-color: #000000;
  top: 0;
  left: 0;
  height: 7px;
  width: 80px;
}

.contacts__heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.contacts__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  margin-left: -2px;
  letter-spacing: -0.2px;
}

.contacts__write-us {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 260px;
  height: 40px;
  text-align: center;
  position: relative;
  margin-top: 69px;
  padding-left: 2px;
}

.modal-map {
  min-height: 559px;
  background-image: url("../img/main/map/map-big.png");
  background-repeat: no-repeat;
  background-size: 995px 592px;
  background-position: -17px -7px;
}

.contacts__map-link {
  display: block;
  margin-top: 39px;
  position: relative;
  width: 560px;
  height: 222px
}

.contacts__map-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*the end of the contacts*/
/*about-us and contacts shared properties*/
.about-us__heading,
.contacts__heading {
  margin-top: 52px;
  margin-left: -2px;
}

.about-us__text-1,
.contacts__text {
  margin-top: 43px;
}

/*the end of /*about-us and contacts shared properties*/
/*the end of the main section*/
/*footer section*/

.footer {
  background: #464646;
}

.container-footer {
  flex-direction: column;
  padding-top: 65px;
  position: relative;
  display: flex;
  margin: 0 auto;
  min-width: 1160px;
  width: 100%;
}

.footer__logo-and-functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__additional-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 26px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__social::before {
  position: relative;
  content: "";
  height: 20px;
  width: 80px;
  border-bottom: 7px solid #ffc600;
  margin-top: 57px;
}

/*text-deco*/
.services-footer {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 527px;
  padding-right: 52px;
  padding-left: 18px;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-right: auto;
}
.services-footer li{
  margin: 0 auto;
}

.services-footer__items-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.services-footer__items-link:hover,
.services-footer__items-link:focus {
  opacity: 0.6;
}

.services-footer__items-link:active {
  opacity: 0.3;
}

.social-footer {
  list-style: none;
  margin-top: 64px;
  width: 144PX;
  display: flex;
  justify-content: space-around;
  margin-right: auto;
  margin-left: 428px;
}

/*the end of the text-deco*/
.address {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.3px;
  margin-left: 0;
  margin-right: auto;
  min-width: 203px;
}

.footer__logo {
  margin-left: 0;
  margin-right: auto;
}
.footer__logo_image-logo {
  pointer-events: none;
}

.footer__logo:hover .footer__logo_image-logo,
.footer__logo:focus .footer__logo_image-logo {
  opacity: 0.6;
  transition: 0.3s;
}

.footer__logo:focus .footer__logo_image-logo {
  opacity: 0.6;
  transition: 0.3s;
}

.footer__logo:active .footer__logo_image-logo {
  opacity: 0.3;
  transition: 0.3s;
}

.functions-footer {
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: flex-end;
  -ms-flex-pack: end;
  margin-top: -5px;
  margin-right: -1px;
  min-width: 480px;
  z-index: 2;
}

.footer__item-exit a {
  opacity: 0.3;
}

.footer__item-login a:hover::before,
.footer__item-login a:focus::before {
  opacity: 0.6;
}

.footer__item-login a:active::before {
  opacity: 0.3;
}

.footer__item-login a::before {
  content: "";
  position: relative;
  background-image: url("../img/footer/icons/user-footer.png");
  background-size: contain;
  background-position: 50% 100%;
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  height: 12px;
  width: 13px;
  margin-right: 10px;
}

.footer__item-logged-in a {
  margin-right: 18px;
}

.footer__item-logged-in a::before {
  content: "";
  position: relative;
  background-image: url("../img/footer/icons/user-footer.png");
  background-size: contain;
  background-position: 50% 100%;
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  height: 12px;
  width: 13px;
  margin-right: 10px;
}

.footer__item-logged-in a:hover::before,
.footer__item-logged-in a:focus::before {
  opacity: 0.6;
}

.footer__item-logged-in a:active::before {
  opacity: 0.3;
}

.footer__item-compare a::before {
  content: "";
  position: relative;
  background-image: url("../img/footer/icons/compare-footer.png");
  background-size: contain;
  background-position: 50% 100%;
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  bottom: 0;
  height: 10px;
  width: 11px;
  margin-right: 8px;
}

.footer__item-compare a:hover::before,
.footer__item-compare a:focus::before {
  opacity: 0.6;
}

.footer__item-compare a:active::before {
  opacity: 0.3;
}

.footer__item-cart a::before {
  content: "";
  position: relative;
  background-image: url("../img/footer/icons/cart-footer.png");
  background-size: contain;
  background-position: 50% 100%;
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
  height: 12px;
  width: 13px;
  margin-right: 6px;
  -webkit-backface-visibility: hidden;
}

.footer__item-cart a:hover::before,
.footer__item-cart a:focus::before {
  opacity: 0.6;
  transition: 0.3s;
}

.footer__item-cart a:active::before {
  opacity: 0.3;
  transition: 0.3s;
}

.footer__item-compare a {
  margin-right: 41px;
}

.footer__item-login a {
  margin-right: 43px;
}

.footer__item-exit a {
  margin-right: 41px;
}

.functions-footer__item a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.functions-footer__item a:hover,
.functions-footer__item a:focus {
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.functions-footer__item a:active {
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.phone {
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0px;
  min-width: 167px;
}

.phone__link {
  text-decoration: none;
  color: #ffffff;
}

.html-academy-logo {
  margin-top: 62px;
  margin-bottom: 63px;
}

.html-academy__img {
  pointer-events: none;
}

.html-academy-logo:hover,
.html-academy-logo:focus {
  opacity: 0.6;
}

.html-academy-logo:active {
  opacity: 0.3;
}

/*social block*/
.instagram {
  margin: 0 21px 0 21px;
}

.social-footer__link {
  opacity: 0.3;
  display: block;
  width: 32px;
  height: 32px;
}

.social-fb {
  background-image: url("../img/footer/social/fb.svg");
  background-repeat: no-repeat;
}
.social-inst {
  background-image: url("../img/footer/social/instagram.svg");
  background-repeat: no-repeat;
}
.social-tw {
  background-image: url("../img/footer/social/twitter.svg");
  background-repeat: no-repeat;
}

.social-footer__link:hover,
.social-footer__link:focus {
  opacity: 0.6;
}

.social-footer__link:active {
  opacity: 0.1;
}

.social__links {
  pointer-events: none;
}

/*social block the end*/
/*the end of the footer section*/
/*additional section*/
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.link-animation::after {
  content: "";
  background-color: #f0c52e;
  display: block;
  width: inherit;
  height: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto 0 auto 0;
  z-index: -1;
  transition: height 0.3s;
}

label.link-animation::after {
  width: 160px;
}

.link-animation:hover::after,
.link-animation:focus::after {
  height: 40px;
  transition: 0.3s;
}

.link-animation:active {
  color: rgba(0, 0, 0, 0.3);
}

label.link-animation:active {
  color: #f7e184;
}

label.link-animation:active::after {
  background-color: #000000;
  width: 278px;
  top: 0;
  left: 0px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.column {
  flex-direction: column;
}

.container-sections {
  justify-content: space-between;
}

.about-us-container {
  margin-top: 93px;
  margin-bottom: 82px;
}

/*the end of the additional section*/
/*modals*/
.modal {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  z-index: 6;
  width: 960px;
  position: fixed;
  top: -3000px;
  left: 50%;
  margin-left: -480px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-show {
  display: block;
  -webkit-animation: bounce;
  -moz-animation: bounce;
  animation: bounce;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.modal-hide {
  -webkit-animation: hide;
  -moz-animation: hide;
  animation: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.modal-close {
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 23px;
  right: 21.5px;
  display: block;
  border: none;
  background: none;
  width: 55px;
  height: 55px;
  background-image: url("../img/popup/modal-close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.modal-delay {
  animation-delay: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
  transition: 0.3s;
}

.modal-close:active {
  opacity: 0.3;
  transition: 0.3s;
}

.modal-incorrect {
  top: 200px;
  -webkit-animation: incorrect;
  -moz-animation: incorrect;
  animation: incorrect;
  animation-duration: 0.2s;
}

.modal-write-us {
  box-sizing: border-box;
  padding: 93px 100px 78px 100px;
}

.write-us__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  box-sizing: border-box;
  width: 100%;
  line-height: 50px;
  padding-bottom: 3px;
  height: 50px;
  border: none;
  border: 3px solid #f2f2f2;
  background-color: #f2f2f2;
  padding-left: 17px;
}

.write-us__input::-moz-placeholder {
  font-size: 14px;
  line-height: 44px;
  padding-bottom: 3px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 0.4);
}

.write-us__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 50px;
  padding-bottom: 3px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 0.4);
}

.write-us__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 44px;
  padding-bottom: 3px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 0.4);
}

.write-us__input:hover,
.write-us__input:focus {
  border: 3px solid #ebebeb;
  background-color: #ebebeb;
}

.write-us__input:focus {
  border: 3px solid #f7e296;
  background-color: #ffffff;
  outline: none;
  color: rgba(70, 70, 70, 1);
}

.write-us__input:invalid {
  border: 3px solid #f6dada;
  background-color: #f6dada;
}

.input-main-container {
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  height: 77px;
  margin-bottom: 37px;
}

.input-container label,
.input-container input {
  display: block;
}

.input-container label {
  margin-bottom: 8px;
}

.container-letter-text {
  display: inline-block;
  vertical-align: baseline;
  clear: both;
  width: 100%;
}

.container-letter-text .modal-label__textarea,
.container-letter-text .input-textarea {
  display: block;
}

.modal-label__textarea {
  margin-bottom: 8px;
}

.input-textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border: 3px solid #f2f2f2;
  background-color: #f2f2f2;
  resize: none;
  height: 156px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 13px;
}

.input-textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 0.4);
}

.input-textarea::-moz-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 0.4);
}

.input-textarea:-webkit-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 0.4);
}

.input-textarea:-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 0.4);
}

.input-textarea::-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: rgba(70, 70, 70, 0.4);
}

.input-textarea:hover,
.input-textarea:focus {
  border: 3px solid #ebebeb;
  background-color: #ebebeb;
}

.input-textarea:focus {
  border: 3px solid #f7e296;
  background-color: #ffffff;
  outline: none;
}

.error {
  border: 3px solid #f6dada;
  background-color: #f6dada;
}

.send-letter {
  font-family: inherit;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: block;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border: none;
  background: none;
  margin-top: 41px;
  cursor: pointer;
}

.map-iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*catalog styles*/
.heading-breadcrumbs {
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 37px;
  padding-left: 59px;
}

.page-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.breadcrumbs {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 24px;
}

.breadcrumbs li {
  margin-right: 39px;
  position: relative;
}

.breadcrumbs li::after {
  position: absolute;
  right: -18px;
  bottom: 8px;
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../img/catalog/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.section-sort {
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);
  minheight: 70px;
  margin-top: 46px;
  z-index: 2;
  width: 100%;
  min-width: 1160px;
}

.container-filter-sort {
  position: relative;
}

.container-filter-sort::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3000%;
  background-color: #dcdcdc;
  min-width: 1160px;
  top: 0;
  right: 0;
  right: 832px;
  z-index: 1;
}

.sort-container {
  margin-left: 253px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.sort-list {
  margin-left: 52px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 70px;
  letter-spacing: 0px;
}

.sort-list__item {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort-list__item:hover,
.sort-list__item:focus {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.sort-list__item:active {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.sort-by {
  width: 283px;
}

.sort-from-to {
  margin-left: auto;
  margin-right: 0;
  align-items: center;
}

.from-bottom {
  display: block;
  position: relative;
  width: 11px;
  height: 11px;
}

.sort-list-from-to__item {
  opacity: 0.2;
}

.sort-list-from-to__item:hover,
.sort-list-from-to__item:focus {
  opacity: 0.4;
}

.sort-list-from-to__item:active {
  opacity: 1;
}

.from-top {
  display: block;
  position: relative;
  width: 11px;
  height: 11px;
  margin-right: 19px;
}

.from-top::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/catalog/icons/icon-up-dir.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.from-bottom::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/catalog/icons/icon-down-dir.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.sort-list__item--active {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.sections-container {
  width: 100%;
  margin-top: -80px;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.catalog-container {
  margin-top: 69px;
  margin-bottom: 77px;
  position: relative;
}

.catalog-container::after {
  content: "";
  position: absolute;
  height: calc(100% + 300px);
  width: 3000%;
  background-color: #efefef;
  top: -69px;
  right: 832px;
  z-index: -1;
}

.section-filter {
  height: 100%;
  margin-left: 59px;
  width: 201px;
}

.section-filter {
  display: flex;
  flex-direction: column;
}

.filter {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  line-height: 70px;
  text-transform: uppercase;
  padding-left: 60px;
  display: block;
  position: relative;
  z-index: 2;
}

.filter-form fieldset {
  margin-top: 40px;
  border-top: 2px solid #000000;
  padding-top: 10px;
}

.filter-form fieldset:first-child {
  margin-top: 0;
}

.color-list {
  list-style: none;
  margin-bottom: -13px;
}

.color-list li {
  height: 40px;
  position: relative;
}

.color-list li:first-child {
  margin-top: 17px;
}

.color-list li:last-child {
  margin-bottom: 5px;
}

.color-list li input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label.checkbox {
  cursor: pointer;
  margin-left: 40px;
}

span.checkbox-img {
  position: absolute;
  top: 9px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/catalog/checkbox/checkbox-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#color-1:checked ~ .filter-form__label span.checkbox-img,
#color-2:checked ~ .filter-form__label span.checkbox-img,
#color-3:checked ~ .filter-form__label span.checkbox-img,
#color-4:checked ~ .filter-form__label span.checkbox-img,
#color-5:checked ~ .filter-form__label span.checkbox-img {
  background-image: url("../img/catalog/checkbox/checkbox-on.svg");
  background-size: contain;
}

.filter-form__checkbox:focus ~ .filter-form__label span.checkbox-img,
.filter-form__checkbox:focus ~ .filter-form__label span.checkbox-img,
.filter-form__checkbox:focus ~ .filter-form__label span.checkbox-img,
.filter-form__checkbox:focus ~ .filter-form__label span.checkbox-img,
.filter-form__checkbox:focus ~ .filter-form__label span.checkbox-img {
  opacity: 0.6;
}

.bluetooth-list {
  list-style: none;
  margin-top: 19px;
}

.bluetooth-list li {
  position: relative;
  margin-top: 1px;
}

label.radio input[type="radio"] {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label.radio {
  cursor: pointer;
  margin-left: 39px;
}

span.radio-img {
  position: absolute;
  top: 5px;
  left: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/catalog/radio/radio-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#bluetooth-in:checked ~ .filter-form__label span.radio-img,
#bluetooth-not-in:checked ~ .filter-form__label span.radio-img {
  background-image: url("../img/catalog/radio/radio-on.svg");
  background-size: contain;
}

#bluetooth-in:focus ~ .filter-form__label span.radio-img,
#bluetooth-not-in:focus ~ .filter-form__label span.radio-img {
  opacity: 0.6;
}

.range-form {
  width: 100%;
  height: 40px;
  margin-top: 24px;
  position: relative;
}

.range {
  display: block;
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
  position: absolute;
  bottom: 27px;
  left: 5px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.2);
}

.range-green {
  display: block;
  width: 110px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #91c92f;
}

.range__min {
  display: block;
  box-sizing: border-box;
  width: 53px;
  height: 39px;
  position: absolute;
  left: -10px;
  top: -10px;
}

.min-price__input {
  display: flex;
  background: none;
  border: none;
  width: 50px;
  margin-left: 4px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.2);
}

.min-price__label {
  display: flex;
  margin-left: 4px;
  margin-top: 24px;
}

.range__max {
  display: block;
  box-sizing: border-box;
  width: 53px;
  height: 39px;
  position: absolute;
  right: 40px;
  top: -10px;
}

.max-price__input {
  display: flex;
  background: none;
  border: none;
  width: 50px;
  margin-left: 4px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.2);
}

.max-price__label {
  bottom: 0;
  display: flex;
  margin-left: -20px;
  margin-top: 24px;
}

.range-img {
  position: absolute;
  display: block;
  width: 20px;
  height: 23px;
  background-image: url("../img/catalog/filter/filter-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range-img:active {
  width: 22px;
  height: 25px;
  top: -1px;
}

.filter-form__heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter-form__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  color: #000000;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter-form__label:hover .checkbox-img,
.filter-form__label:focus .checkbox-img,
.filter-form__label:hover .radio-img,
.filter-form__label:focus .radio-img {
  opacity: 0.6;
}

.filter-form__button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  letter-spacing: 3.6px;
  position: relative;
  border: none;
  background: none;
  z-index: 1;
  width: 200px;
  padding-left: 4px;
  margin-left: -1px;
  text-transform: uppercase;
  margin-top: 39px;
  cursor: pointer;
}

.sort-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  line-height: 70px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.container-filter-catalog {
  margin-top: 69px;
}

.fieldset-filter {
  border: none;
  display: flex;
  flex-direction: column;
}

.filter-form__radio[disabled] ~ .filter-form__label,
.filter-form__checkbox[disabled] ~ .filter-form__label {
  opacity: 0.25;
}

.filter-form__radio[disabled] ~ .filter-form__label:hover .radio-img,
.filter-form__radio[disabled] ~ .filter-form__label:focus .radio-img,
.filter-form__checkbox[disabled] ~ .filter-form__label:hover .checkbox-img,
.filter-form__checkbox[disabled] ~ .filter-form__label:focus .checkbox-img {
  opacity: 1;
}

.section-catalog {
  margin-right: 0;
  margin-left: auto;
}

.container-catalog-items {
  width: 760px;
  display: flex;
  flex-direction: column;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  width: 360px;
}

.hidden-functions__to-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 36px;
  text-decoration: none;
  margin-top: 12px;
  transition: 0.3s;
}

.hidden-functions__to-compare:hover,
.hidden-functions__to-compare:focus {
  color: rgba(0, 0, 0, 1);
  transition: 0.3s;
}

.hidden-functions__to-compare:active {
  color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.item-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 46px;
}

.item-name-price__name-link {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  margin-top: 32px;
}

.name-link__heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  width: 254px;
  color: #000000;
}

.item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 200;
  color: #464646;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  margin-top: 32px;
}

.item-wrapper {
  position: relative;
  background-color: #eeeeee;
  height: 380px;
}

.hidden-functions {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item-wrapper:hover .hidden-functions,
.item-wrapper:focus .hidden-functions {
  display: flex;
}

.new {
  display: block;
  position: absolute;
  top: 29px;
  right: 26px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  opacity: 0.2;
  font-size: 14px;
  line-height: 56px;
  letter-spacing: 0.7px;
  display: block;
  width: 56px;
  height: 56px;
  border: 2px solid #000000;
  border-radius: 50%;
  text-align: center;
}

.new--hidden {
  display: none;
}

.hidden-functions__to-cart {
  position: relative;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  margin-top: 44px;
  margin-left: 2px;
}

.catalog-pagination {
  list-style: none;
  display: flex;
  width: 760px;
  height: 70px;
  background-color: #ebebeb;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: -11px;
}

.catalog-pagination__numbers {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  text-align: center;
  width: 115px;
  justify-content: space-around;
  margin-left: 13px;
  padding-top: 4px;
}

.catalog-pagination__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-pagination__link-number {
  color: rgba(0, 0, 0, 0.3);
}




.catalog-pagination__link:hover,
.catalog-pagination__link:focus {
  color: rgba(0, 0, 0, 1);
  transition: 0.3s;
}

.catalog-pagination__link:active {
  color: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.catalog-pagination__item--active:not(:first-child):not(:last-child) .catalog-pagination__link {
  color: rgba(0, 0, 0, 1);
}

.catalog-pagination__item {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.catalog-pagination__item:first-child {
  display: block;
  height: 70px;
  line-height: 70px;
  margin-right: auto;
}

.catalog-pagination__back .catalog-pagination__link {
  display: block;
  height: 70px;
  line-height: 70px;
  margin-right: auto;
  padding: 0 30px 0 30px;
}

.catalog-pagination__next:hover .catalog-pagination__link,
.catalog-pagination__back:hover .catalog-pagination__link,
.catalog-pagination__next:focus .catalog-pagination__link,
.catalog-pagination__back:focus .catalog-pagination__link {
  background-color: #d9d9d9;
  transition: 0.3s;
}

.catalog-pagination__next:active .catalog-pagination__link,
.catalog-pagination__back:active .catalog-pagination__link {
  background-color: #d9d9d9;
  transition: 0.3s;
}

/*last-child*/
.catalog-pagination__next {
  display: block;
  width: 137px;
  height: 70px;
  line-height: 70px;
  margin-right: 0;
}

.catalog-pagination__next .catalog-pagination__link {
  display: block;
  height: 70px;
  line-height: 70px;
  margin-right: auto;
  padding: 0 32px 0 32px;
}

.pagination--active {
  color: rgba(0, 0, 0, 1);
}
/*the end of catalog styles*/
/*animations*/
@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(3210px);
  }

  60% {
    transform: translateY(3196px);
  }

  to {
    transform: translateY(3200px);
  }
}

@keyframes hide {
  from {
    transform: translateY(3200px);
  }

  50% {
    transform: translateY(3250px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes incorrect {
  from {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }

  to {
    transform: translateX(0);
  }
}
